DATABASE_URL=postgresql://fetch_book:fetch_book@localhost:5434/fetch_book
CELERY_BROKER_URL=redis://localhost:6380/0
# Generate your own: python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
GOOGLE_BOOKS_API_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=
CLOUDFRONT_DOMAIN=
