DATABASE_URL=postgresql://fetch_book:fetch_book@localhost:5434/fetch_book
CELERY_BROKER_URL=redis://localhost:6380/0
DJANGO_SECRET_KEY=dev-secret-key-change-me
DJANGO_DEBUG=True
GOOGLE_BOOKS_API_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=
CLOUDFRONT_DOMAIN=
